venv.nosync
venv
.idea
**/*.pyc
**/__pycache__
media
static_bckp
static_in_env
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/migrations/*

# DB files
*.sqlite3
*.pgsql
db-data
db-data/*
db-backup
db-backup/*

!**/migrations/__init__.py
!**/migrations/__pycache__/__init__*

# Ignore private keys, databases, passwords and usernames
secret_key.*
postgres_database.*
*password*
*username*