{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'head.html' %}
{% endblock head %}

{% block content %}
<section class="newsletter">
  <div class="container" id="newsletter">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="dark-color">Bądź na bieżąco</h2>
        <p class="text-big dark-color-lt">Zapisz się do newsletter'a aby otrzymywać wiadomości o najnowszych wpisach.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-holder">
          <form class="subscribe-form" action="" method="POST">
            {% csrf_token%}
            <div class="form-group">
              {{ form }}
              <button type="submit" class="submit">zapisz</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="dark-color type-text-subscribe intro-info"></p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}