{% extends 'base.html' %}
{% load static %}

{% block head %}

{% if seo_metatags %}
{% for seo in seo_metatags %}
{% include 'head.html' with 
    title=seo.meta_title
    description=seo.meta_description
    keywords=seo.meta_keywords
    image=seo.meta_image.url
    robots=seo.meta_robots

    og_title=seo.og_meta_title
    og_type=seo.og_meta_type
    og_image=seo.og_meta_image
    og_site_name=seo.og_meta_site_name
    og_description=seo.og_meta_description
  %}
{% endfor %}

{% else %}
{% include 'head.html' %}
{% endif %}

{% endblock head %}

{% block content %}
<section>
    <div class="container" id="about">
        <div class="row align-items-center">
            <div class="col-lg-6 dark-color">
                <h1 class="type-text intro-about" style="color: inherit;">Hi, I'm Krzysztof.</h1>
                <img src="{% static 'img/krzysztof-brzozowski-engineering.jpg' %}" alt="..." class="img-fluid my-4 hide" id="img-inner-text">
                <br>
                <p style="font-size: 1em; line-height: 1.25;">
                    I was born in Chelm, small town in east of Poland. Lastly traveled a lot around the globe to find my place.
                    <br><br>
                    Some time ago I heard that real quality needs to evolve from passion and merging two seemingly different areas e.g. engineering and art. Seems like already now I can really subscribe to this sentence.
                    <br /><br />
                    Besides regular work in company my time was devided between developing, programming and hardware implementation of ideas.
                    During those years I really felt in love with designing and joinging endless possibilities which is giving me merging intrests in IT, electronics, UI/UX and art.
                    <br><br>
                    I hope the passion for what I'm doing will be like fashion, never truly finished and constantly developing.
                    Taking beginning in well ingrained values.
                    I believe that child in me, wanted constantly knowing the World will never grow up.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/krzysztof-brzozowski-engineering.jpg' %}" alt="..." class="img-fluid my-4" id="img-outer-text">
            </div>
        </div>
    </div>
</section>
{% endblock content %}