<!-- Page Footer-->
<footer class="main-footer">
    <div class="container align-items-middle">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <div class="logo">
                    <h6 class="text-white">Krzysztof Brzozowski</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <div class="menus d-flex">
                        <ul class="list-unstyled">
                            <li> <a href="{% url 'main' %}">home</a></li>
                            <li> <a href="{% url 'project-list' %}">projects</a></li>
                            <li> <a href="{% url 'about' %}">about me</a></li>
                            <a href="{% url 'privacy-policy' %}">privacy policy</a>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row justify-content-center">
                    <a href="{% url 'privacy-policy' %}">privacy policy</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row justify-content-center">
                <p>&copy; <span id="year"></span> Krzysztof Brzozowski</p>
            </div>
        </div>
    </div>
</footer>